nav {
    background: #D5202F;
}

ul li {
    list-style-type: none;
    padding: 15px 0;
    display: inline-block;
    font-family: Henriette;
    font-size: 30px;
}

li a {
    text-decoration:none;
    color: black;
    padding:15px 5px;
  } 

  li a:hover {
    background: black;
    color: white;
  }

h1 {
    font-family: Henriette;
    color: white;
}

.hero {
    height: 100vh;
    background: url("images/steven-spielberg.jpg");
    background-size: cover;
}