body {
    background-color: #2C2C2C;
    margin: 0;
    padding: 0;
}

/*Navigation*/
.nav-bar {
    background: #D5202F;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favicon {
    margin-right: 25px;
}

ul li {
    list-style-type: none;
    position: relative;
    padding: 25px 0;
    padding-left: 15px;
    display: inline-block;
    font-family: Henriette;
    font-size: 30px;
}

li a {
    text-decoration:none;
    color: black;
    padding:15px 5px;
  } 

  li a:hover {
    background: black;
    color: white;
  }

.hero {
    height: 100vh;
    background: url("images/steven-spielberg.jpg");
    background-size:cover;
}  


/*Text Settings*/
h1 {
    margin: 0px;
    padding: 5px;
    color:white;
    font-family: Henriette;
    font-size: 55px;
    display: flex;
    justify-content: center;
    background-color: #E8C045;
    opacity: 75%;
}

h2 {
    font-family: Henriette;
    font-size: 275px;
    margin: 0;
    display: flex;
    justify-content: center;
    color:white;
}

h3 {
    font-family: Henriette;
    font-size: 125px;
    margin: 0px;
    display: flex;
    justify-content: center;
    color:white;
}

h4 {
    font-family: Henriette;
    font-size: 155px;
    margin: 0px;
    display: flex;
    justify-content: center;
    color:white;
}

header {
    font-family: Henriette;
    font-size: 35px;
}

p {
    font-family: Minion Pro;
    font-size: 16px;
}

button {
    text-decoration: none;
    color: white;
    background: black;
    border: none;
    border-radius: 15px;
    width: 120px;
    height: 41px;
}


/* Biography */
.bio-img {
 width: 349px;
 height: 445px;
 display: flex;
 padding-left: 550px;
}

.Bio {
    fill: #EFEFEF;
    width: 495px;
    height: 400px;
    background-color:#EFEFEF;
    padding: 10px;
    text-align: left;
}

/*1970's*/
.Jaws-img {
    width: 276px;
    height: 559px;
    display: flex;
    padding-left: 550px;
}

.Jaws {
    fill: #EFEFEF;
    width: 495px;
    height: 280px;
    background-color:#EFEFEF;
    padding: 10px;
}

.Jaws-bts {
    display: flex;
    width: 276px;
    height: 190px;
}


.Close-img {
    display: flex;
    padding-left: 550px;
}

.Close {
    width: 495px;
    height: 280px;
    background-color: #EFEFEF;
    padding: 10px;
}

.Close-bts {
    display: flex;
    width: 276px;
    height: 190px;
}

/*1980's*/
.Indy {
    width: 495px;
    height: 320px;
    background-color: #EFEFEF;
    padding: 10px;
}

.Indy-img {
    display: flex;
    width: 276px;
    height: 559px;
    padding-left: 550px;
}

.Indy-bts {
    display: flex;
    width: 276px;
    height: 190px;
}

.ET {
    width: 495px;
    height: 305px;
    background-color: #EFEFEF;
    padding: 10px;
}

.ET-img {
    display: flex;
    width: 276px;
    height: 559px;
    padding-left: 550px;
}

.ET-bts {
    display: flex;
    width: 276px;
    height: 190px;
}

/*1990's*/ 
.J-Park {
    width: 495px;
    height: 305px;
    background-color: #EFEFEF;
    padding: 10px;
}

.J-Park-img {
    display: flex;
    width: 276px;
    height: 559px;
    padding-left: 550px;
}

.J-Park-bts {
    display: flex;
    width: 276px;
    height: 190px;
}

.S-List {
    width: 495px;
    height: 270px;
    background-color: #EFEFEF;
    padding: 10px;  
}

.S-List-img {
    display: flex;
    width: 276px;
    height: 559px;
    padding-left: 550px;
}

.S-List-bts {
    display: flex;
    width: 276px;
    height: 190px;
}

/*Other Work*/
.producer {
    width: 496px;
    height: 325px;
    background-color: #EFEFEF;
    padding: 10px;
}

.prod-img {
    display: flex;
    width: 276px;
    height: 559px;
    padding-left: 550px;
}

.bandofbrothers {
    width: 496px;
    height: 325px;
    background-color: #EFEFEF;
    padding: 10px;
}

.bandofbrothers-img {
    display: flex;
    width: 276px;
    height: 559px;
    padding-left: 550px;
}

/*Influence*/
.new-hollywood {
    width: 496px;
    height: 340px;
    background-color: #EFEFEF;
    padding: 10px;
}

.new-hollywood-img {
    display: flex;
    width: 276px;
    height: 559px;
    padding-left: 550px;
}

.Collaborations {
    width: 496px;
    height: 340px;
    background-color: #EFEFEF;
    padding: 10px;
}

.Collaborations-img {
    display: flex;
    width: 276px;
    height: 559px;
    padding-left: 550px;
}

/*footer*/
footer {
    background-color: #E8C045;
    width: 1519px;
    height: 302px;
    margin: 0;
    padding: 0;
    text-align: center;
}