body {
    background-color: #2C2C2C;
    margin: 0;
    padding: 0;
}

/*Navigation*/
.nav-bar {
    background: #D5202F;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favicon {
    margin-right: 25px;
}

ul li {
    list-style-type: none;
    position: relative;
    padding: 25px 0;
    padding-left: 15px;
    display: inline-block;
    font-family: Henriette;
    font-size: 40px;
}

li a {
    text-decoration:none;
    color: black;
    padding:15px 5px;
  } 

  li a:hover {
    background: black;
    color: white;
  }

.hero {
    height: 100vh;
    background: url("images/steven-spielberg.jpg");
    background-size:cover;
}  


/*Text Settings*/
h1 {
    margin: 0px;
    padding: 5px;
    font-family: Henriette;
    font-size: 55px;
    display: flex;
    justify-content: center;
    background-color: #E8C045;
    opacity: 75%;
}

h2 {
    font-family: Henriette;
    font-size: 350px;
    margin: 0;
    text-align: center;
    color:white;
}

h3 {
    font-family: Henriette;
    font-size: 185px;
    margin: 0px;
    display: flex;
    justify-content: center;
    color:white;
}

h4 {
    font-family: Henriette;
    font-size: 210px;
    margin: 0px;
    display: flex;
    justify-content: center;
    color:white;
}

header {
    font-family: Henriette;
    font-size: 35px;
}

p {
    font-family: Minion Pro;
    font-size: 16px;
}

button {
    text-decoration: none;
    color: white;
    background: black;
    border: none;
    border-radius: 15px;
    width: 120px;
    height: 41px;
}

button :hover {
    cursor: grabbing;
}

/*Film Reel*/
.film-reel-1 {
    display: flex;
    justify-content: center;
    width: 1510px;
    height: 185px;
    margin-top: 15px;
}

.film-reel-2 {
    display: flex;
    justify-content: center;
    width: 1510px;
    height: 185px;
    margin-top: 15px;
}

.film-reel-3 {
    display: flex;
    justify-content: center;
    width: 1510px;
    height: 185px;
    margin-top: 15px;
}

.film-reel-4 {
    display: flex;
    justify-content: center;
    width: 1510px;
    height: 185px;
    margin-top: 15px;
}

.film-reel-5 {
    display: flex;
    justify-content: center;
    width: 1510px;
    height: 185px;
    margin-top: 15px;
}

/* Biography */
.bio-img {
    width: 40%;
} 

.bio-img img {
    width: 100%;
    height: 100%;
}

.bio-img p {
    background: #E8C045;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

.bio {
    display: flex;
    width: 80%;
    padding: 20px;
    justify-content: center;
    margin: 0 auto;
}

.bio-text {
    flex-direction: column;
    width: 70%;
    padding: 50px;
    padding-bottom: 0px;
    margin: 15px;
    text-align: left;
    background-color: #EFEFEF;
    background-size: auto;
}

.bio-text h2 {
    font-size: 45px;
    color: black;
    text-align: left;
}

.bio-text p {
    font-size: 1.2em;
}

/*1970's*/

/*Jaws*/
.jaws {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.jaws-text h2 {
    font-size: 2.3em;
    color: black;
    text-align: left;
}

.jaws-text {
    padding: 50px;
    background-color: #EFEFEF;
}

.jaws-text p {
    font-size: 1.1em;
}

.jaws-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jaws-left div {
    margin: 10px;
}

.jaws-bts {
    display: flex;
}

.jaws-bts-img {
    width: 50%;
}

.jaws-bts-img p {
    background:#D5202F;
    padding: 5px;
    margin: 0px;
    text-align: center;
    color: white;
}

.jaws-bts-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.jaws-poster {
    width: 40%;
}

.jaws-poster p {
    background: #E8C045;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

.jaws-poster img {
    width: 100%;
    height: 100%;
}


/*Close Encounters*/
.close {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
}

.close-text h2 {
    font-size: 2.3em;
    color: black;
    text-align: left;
}

.close-text {
    padding: 50px;
    background-color: #EFEFEF;
}

.close-text p {
    font-size: 1.1em;
}

.close-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-right div {
    margin: 10px;
}

.close-bts {
    display: flex;
}

.close-bts-img {
    width: 50%;
}

.close-bts-img p {
    background: #66ACB0;
    padding: 5px;
    margin: 0px;
    text-align: center;
    color: white;
}

.close-bts-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.close-poster p {
    background: #E8C045;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

.close-poster img {
    width: 100%;
    height: 100%;
}


/*1980's*/

/*Indy*/
.indy {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.indy-text h2 {
    font-size: 2.3em;
    color: black;
    text-align: left;
}

.indy-text {
    padding: 50px;
    background-color: #EFEFEF;
}

.indy-text p {
    font-size: 1.1em;
}

.indy-left  {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.indy-left div {
    margin: 10px;
}

.indy-bts {
    display: flex;
}

.indy-bts-img {
    width: 50%;
}

.indy-bts-img p {
    background: #D5202F;
    padding: 5px;
    margin: 0px;
    text-align: center;
    color: white;
}

.indy-bts-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.indy-poster {
    width: 40%;
}

.indy-poster p {
    background: #E8C045;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

.indy-poster img {
    width: 100%;
    height: 100%;
}

/*ET*/

.et {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
}

.et-text h2 {
    font-size: 2.3em;
    color: black;
    text-align: left;
}

.et-text {
    padding: 50px;
    background-color: #EFEFEF;
}

.et-text p {
    font-size: 1.1em;
}

.et-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.et-right div {
    margin: 10px;
}

.et-bts {
    display: flex;
}

.et-bts-img {
    width: 50%;
}

.et-bts-img p {
    background: #66ACB0;
    padding: 5px;
    margin: 0px;
    text-align: center;
    color: white;
}

.et-bts-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.et-poster {
    width: 35%;
}

.et-poster p {
    background: #E8C045;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

.et-poster img {
    width: 100%;
    height: 90%;
}


/*1990's*/ 

/*j-park*/

.j-park {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.j-park-text h2 {
    font-size: 2.3em;
    color: black;
    text-align: left;
}

.j-park-text {
    padding: 50px;
    background-color: #EFEFEF;
}

.j-park-text p {
    font-size: 1.1em;
}

.j-park-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.j-park-left div {
    margin: 10px;
}

.j-park-bts {
    display: flex;
}

.j-park-bts-img {
    width: 50%;
}

.j-park-bts-img p {
    background: #D5202F;
    padding: 5px;
    margin: 0px;
    text-align: center;
    color: white;
}

.j-park-bts-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.j-park-poster {
    width: 40%;
}

.j-park-poster p {
    background: #E8C045;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

.j-park-poster img {
    width: 100%;
    height: 90%;
}

/*s-list*/ 

.s-list {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
}

.s-list-text h2 {
    font-size: 2.3em;
    color: black;
    text-align: left;
}

.s-list-text {
    padding: 50px;
    background-color: #EFEFEF;
}

.s-list-text p {
    font-size: 1.1em;
}

.s-list-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s-list-right div {
    margin: 10px;
}

.s-list-bts {
    display: flex;
}

.s-list-bts-img {
    width: 50%;
}

.s-list-bts-img p {
    background:#66ACB0;
    padding: 5px;
    margin: 0px;
    text-align: center;
    color: white;
}

.s-list-bts-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.s-list-poster {
    width: 35%;
}

.s-list-poster p {
    background: #E8C045;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

.s-list-poster img {
    width: 100%;
    height: 90%;
}


/*Other Work*/

/*Producer*/

.producer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.producer-text h2 {
    font-size: 2.3em;
    color: black;
    text-align: left;
}

.producer-text {
    padding: 50px;
    background-color: #EFEFEF;
}

.producer-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.producer-left div {
    margin: 10px;
}

.producer-img {
    width: 30%;
}

.producer-img p {
    background: #E8C045;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

.producer-img img {
    width: 100%;
    height: 90%;
}

/*Band of Brothers*/

.bob {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    margin-top: 15px;
}

.bob-text h2 {
    font-size: 2.3em;
    color: black;
    text-align: left;
}

.bob-text {
    padding: 50px;
    background-color: #EFEFEF;
}

.bob-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bob-right div {
    margin: 10px;
}

.bob-img {
    width: 30%;
    margin-bottom: 15px;
}

.bob-img p {
    background: #E8C045;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

.bob-img img {
    width: 100%;
    height: 90%;
}


/*Influence*/


/*New Hollywood*/

.new-hollywood {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.new-hollywood-text h2 {
    font-size: 2.3em;
    color: black;
    text-align: left;
}

.new-hollywood-text {
    padding: 50px;
    background-color: #EFEFEF;
}

.new-hollywood-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-hollywood-left div {
    margin: 10px;
}

.new-hollywood-img {
    width: 35%;
}

.new-hollywood-img p {
    background: #E8C045;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

.new-hollywood-img img {
    width: 100%;
    height: 100%;
}


/*Collaborations*/

.collab {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
}

.collab-text h2 {
    font-size: 2.3em;
    color: black;
    text-align: left;
}

.collab-text {
    padding: 50px;
    background-color: #EFEFEF;
}

.collab-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collab-right div {
    margin: 10px;
}

.collab-img {
    width: 35%;
    margin-bottom: 15px;
}

.collab-img p {
    background: #E8C045;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

.collab-img img {
    width: 100%;
    height: 100%;
}



/*footer*/
footer {
    background-color: #E8C045;
    width: 1519px;
    height: 302px;
    margin: 0;
    padding: 0;
}

footer header {
    text-align: right;
    padding-right: 70px;
    padding-top: 25px;
    margin: 5px;
}

footer p {
    text-align: center;
    padding-top: 10px;
    margin: 0px;
}

footer .logo {
    justify-content: right;
    padding-left: 100px;
    padding-bottom: 100px;
    position: absolute;
    margin-left: 200px;
    margin-right: 0px;
}

footer .social {
    margin: 5px;
    padding-left: 1245px;
    padding-top: 0px;
}